.container-lista{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
}

.lista{
    overflow-y: scroll;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    background-image: url("../assets/snorlax.jpg");
    margin-right: 10px;
}

.lista button{
    text-align: center;
    margin: 2px;
    width: 200px;
    
}

.lista button span{
    display: inline-block;
    min-width: 100px;
}

.more-info{
    max-width: 20px;
}

.lista button span::first-letter{
    text-transform: capitalize;
}