header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15vh;
  background-image: url("./assets/patron.jpg");
}

header h1 {
  color: white;
  padding: 10px;
  font-size: 46px;
  text-shadow: 0px 0px 19px rgba(0,0,0,1);
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  box-sizing: border-box;
  height: 80vh; 
  
}

main > *{
  box-sizing: border-box;
}

.lista { grid-area: 1 / 1 / 2 / 2; }
.poke-info { grid-area: 1 / 2 / 2 / 3; }
.extra-info { grid-area: 1 / 3 / 2 / 4; }


footer {
  height: 5vh;
  background-image: url("./assets/patron.jpg");
  background-size: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer * {
  color: white;
}

@media screen and (max-width:900px){
  p, span{
    font-size: 1.5rem;
  }
  h4{
    font-size: 1.8rem;
  }
}

@media screen and (max-width:800px) {


  main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: max-content;
  }
  .wrapper-input-lista{ 
    grid-area: 1 / 1 / 2 / 2;
    height: 30vh !important;
    overflow:initial;
  }
  .poke-info {
    grid-area: 2 / 1 / 3 / 2;
    height: 30vh;
  }
  .extra-info { 
    grid-area: 3 / 1 / 4 / 2;
    height: 30vh;
  }
  
}